.bediq-hidden{display:none;}

.bediq-description{
  padding: 15px 0;
}
.entry-header{
  margin: 0;
  padding: 0;
}
.entry-title{
  border-bottom: groove;
  padding-top: 20px;
}
/*-------------------image overlay-----------------------*/
.overlay {
  position: relative;
  margin: 0 0 15px 0;
}
.overlay .hotel-offers {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.45);
  color: #333333;
  overflow: hidden;
}
.overlay .hotel-offers a {
  color: #333333;
}.overlay .hotel-offers h2 {
  margin-bottom: 10px;
  line-height: 18px;
}
/*---------------------template-------------------*/
  .bediq-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bediq-container:before,
.bediq-container:after {
  display: table;
  content: " ";
}

.bediq-container:after {
  clear: both;
}

.bediq-container:before,
.bediq-container:after {
  display: table;
  content: " ";
}

.bediq-container:after {
  clear: both;
}

.bediq-row {
  margin-right: -15px;
  margin-left: -15px;
}

.bediq-row:before,
.bediq-row:after {
  display: table;
  content: " ";
}

.bediq-row:after {
  clear: both;
}

.bediq-row:before,
.bediq-row:after {
  display: table;
  content: " ";
}

.bediq-row:after {
  clear: both;
}



  .bediq-col-1,
  .bediq-col-2,
  .bediq-col-3,
  .bediq-col-4,
  .bediq-col-5,
  .bediq-col-6,
  .bediq-col-7,
  .bediq-col-8,
  .bediq-col-9,
  .bediq-col-10,
  .bediq-col-11 {
    float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  }
  .bediq-col-1 {
    width: 8.333333333333332%;
  }
  .bediq-col-2 {
    width: 16.666666666666664%;
  }
  .bediq-col-3 {
    width: 25%;
  }
  .bediq-col-4 {
    width: 33.33333333333333%;
  }
  .bediq-col-5 {
    width: 41.66666666666667%;
  }
  .bediq-col-6 {
    width: 50%;
  }
  .bediq-col-7 {
    width: 58.333333333333336%;
  }
  .bediq-col-8 {
    width: 66.66666666666666%;
  }
  .bediq-col-9 {
    width: 75%;
  }
  .bediq-col-10 {
    width: 83.33333333333334%;
  }
  .bediq-col-11 {
    width: 91.66666666666666%;
  }
  .bediq-col-12 {
    width: 100%;
  }
  .bediq-col-right-0 {
    left: auto;
  }
  .bediq-col-right-1 {
    left: 8.333333333333332%;
  }
  .bediq-col-right-2 {
    left: 16.666666666666664%;
  }
  .bediq-col-right-3 {
    left: 25%;
  }
  .bediq-col-right-4 {
    left: 33.33333333333333%;
  }
  .bediq-col-right-5 {
    left: 41.66666666666667%;
  }
  .bediq-col-right-6 {
    left: 50%;
  }
  .bediq-col-right-7 {
    left: 58.333333333333336%;
  }
  .bediq-col-right-8 {
    left: 66.66666666666666%;
  }
  .bediq-col-right-9 {
    left: 75%;
  }
  .bediq-col-right-10 {
    left: 83.33333333333334%;
  }
  .bediq-col-right-11 {
    left: 91.66666666666666%;
  }
  .bediq-col-left-0 {
    right: auto;
  }
  .bediq-col-left-1 {
    right: 8.333333333333332%;
  }
  .bediq-col-left-2 {
    right: 16.666666666666664%;
  }
  .bediq-col-left-3 {
    right: 25%;
  }
  .bediq-col-left-4 {
    right: 33.33333333333333%;
  }
  .bediq-col-left-5 {
    right: 41.66666666666667%;
  }
  .bediq-col-left-6 {
    right: 50%;
  }
  .bediq-col-left-7 {
    right: 58.333333333333336%;
  }
  .bediq-col-left-8 {
    right: 66.66666666666666%;
  }
  .bediq-col-left-9 {
    right: 75%;
  }
  .bediq-col-left-10 {
    right: 83.33333333333334%;
  }
  .bediq-col-left-11 {
    right: 91.66666666666666%;
  }
  .bediq-col-gap-0 {
    margin-left: 0;
  }
  .bediq-col-gap-1 {
    margin-left: 8.333333333333332%;
  }
  .bediq-col-gap-2 {
    margin-left: 16.666666666666664%;
  }
  .bediq-col-gap-3 {
    margin-left: 25%;
  }
  .bediq-col-gap-4 {
    margin-left: 33.33333333333333%;
  }
  .bediq-col-gap-5 {
    margin-left: 41.66666666666667%;
  }
  .bediq-col-gap-6 {
    margin-left: 50%;
  }
  .bediq-col-gap-7 {
    margin-left: 58.333333333333336%;
  }
  .bediq-col-gap-8 {
    margin-left: 66.66666666666666%;
  }
  .bediq-col-gap-9 {
    margin-left: 75%;
  }
  .bediq-col-gap-10 {
    margin-left: 83.33333333333334%;
  }
  .bediq-col-gap-11 {
    margin-left: 91.66666666666666%;
  }
}
/*---------------------------template-------------------------*/